{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 130,
  "arrowParens": "avoid",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
